{% extends "layout.twig" %}

{% block title %}Profile{% endblock %}

{%- block content -%}
	<div id="content" class="cv">
		<div class="cv-browser">
			<div class="row">
				<a class="col-md-3 col-lg-2 cv-icon generate-cv">
					<div>
						Generate New CV
					</div>
				</a>
				<!-- <a class="col-md-3 col-lg-2 cv-icon">
					<div>
						PHP Developer CV
					</div>
				</a>
				<a class="col-md-3 col-lg-2 cv-icon">
					<div>
						Meteor JS
					</div>
				</a>
				<a class="col-md-3 col-lg-2 cv-icon">
					<div>
						Test CV 1
					</div>
				</a>
				<a class="col-md-3 col-lg-2 cv-icon">
					<div>
						Test CV 2
					</div>
				</a>
				<a class="col-md-3 col-lg-2 cv-icon">
					<div>
						Test CV 3
					</div>
				</a>-->
			</div>
		</div>
	</div> <!-- /content -->
{%- endblock -%}