{% extends "@templates/base.html.twig" %}

{% block title %}Login{% endblock %}

{%- block content -%}
	<div id="content" class="container">
		<div class="row">
			<div class="col-sm-8 pull-right">
				<h1>Login to your account</h1>
				<a href="#" class="btn btn-primary">Login with Facebook</a>
			</div>
		</div>
	</div> <!-- /container -->
{%- endblock -%}